{% extends "base.html" %}
{% block title %}Book{% endblock %}

{% block content %}



         <div class="wraper_content">
         </div>



{% endblock %}
<!--
<div class="overlay">
    <div class="modal">
        <div class="modal_close">&times;</div>
        <div class="poppup-form">
            <form action="" method="POST" class="form_reg">
                {{ formReg.csrf_token }}
                <div class="form_item">
                    formReg.email(class_="input_form")
                     formReg.first_name(class_="input_form")
                     formReg.last_name(class_="input_form")
                     formReg.login(class_="input_form")
                     formReg.password(class_="input_form")
                     formReg.repeat_password(class_="input_form")
                    <button class="button_form">Зарегистрироватся</button>
                </div>
            </form>
        </div>
        <p>Уже есть аккаунт? <a class="log_in" href="/aut">Войти</a></p>
        <div class="flashed-msg"></div>
    </div>
</div>


<div class="overlay">
    <div class="modal">
        <div class="flashed-msg"></div>
        <div class="modal_close">&times;</div>
        <div class="poppup-form">
            <form action="" method="POST" class="form_auth">

                <div class="form_item">
                     formAuth.email(class_="input_form")
                     formAuth.password(class_="input_form")
                    <div class="check_box">
                       formAuth.remainme  formAuth.remainme.label
                    </div>
                     <button class="button_form">Авторизоватся</button>
                </div>
            </form>
        </div>
        <p> Ещё нет аккаунта? <a class="log_register" href="/register"> Зарегистрироваться</a></p>
    </div>
</div>
-->


