<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
</head>
<body>
    {% block header %}
        {% include "inc/header.html" %}
    {% endblock %}
    <section class="section">
    {% block form %}
        {% include "inc/register.html" %}
    {% endblock %}
         <div class="categories">
        </div>
        <div class="wraper">
        {% block content %}{% endblock %}
            <div class="paginate wrapper">
                <ul>
                    <li class="paginate_moduls"><a href="#">&lang;</a></li>
                    <li class="paginate_moduls"><a href="#"class="active">1</a></li>
                    <li class="paginate_moduls"><a href="#" class="inactive">2</a></li>
                    <li class="paginate_moduls"><a href="#">3</a></li>
                    <li class="paginate_moduls"><a href="#" class="more">&hellip;</a></li>
                    <li class="paginate_moduls"><a href="#">&rang;</a></li>
                </ul>
            </div>
        </div>
    </section>
    {% block footer %}
        {% include "inc/footer.html" %}
    {% endblock %}


<script src="{% static 'news/js/fetch_api.js' %}"></script>
<script src="{% static 'news/js/registеr.js' %}"></script>
<script src="{% static 'news/js/adaptive.js' %}"></script>
</body>
</html>